{% extends 'components/_table_wrapper.html.twig' %}

{% block title %}Liste Print3D Process{% endblock %}

{% block page_header %}
    <h1 class="h4 mb-0">Liste des processus d'impression 3D</h1>
{% endblock %}

{% block table_head %}
    <tr>
        <th class="col-3">Nom</th>
        <th class="col-2 text-center">Actif</th>
        <th class="col-3">Traitement</th>
        <th class="col-3">Finition</th>
        <th class="col-1 text-center">Actions</th>
    </tr>
{% endblock %}

{% block table_add_form %}
    <tr id="new-item-row">
        {% include 'components/editable/_input_field.html.twig' with {
            id: 'new-name',
            placeholder: 'Nom'
        } %}

        {% include 'components/editable/_checkbox_field.html.twig' with {
            id: 'new-is-active'
        } %}

        {% include 'components/editable/_dropdown_field.html.twig' with {
            id: 'new-treatment-process',
            label: 'Traitements',
            name: 'treatment-checkbox',
            items: treatments
        } %}

        {% include 'components/editable/_dropdown_field.html.twig' with {
            id: 'new-finish-process',
            label: 'Finitions',
            name: 'finish-checkbox',
            items: finishes
        } %}

        {% include 'components/buttons/_add_button.html.twig' with {
            id: 'add-button',
            title: 'Ajouter'
        } %}
    </tr>
{% endblock %}

{% block table_rows %}
    {% for item in items %}
        <tr data-id="{{ item.id }}">
            {% include 'components/editable/_text_cell.html.twig' with {
                field: 'name',
                value: item.name
            } %}

            {% include 'components/editable/_checkbox_cell.html.twig' with {
                field: 'isActive',
                value: item.isActive
            } %}

            {% include 'components/editable/_dropdown_cell.html.twig' with {
                field: 'treatmentProcess',
                name: 'treatment-checkbox',
                value: item.treatmentProcess,
                items: treatments
            } %}

            {% include 'components/editable/_dropdown_cell.html.twig' with {
                field: 'finishProcess',
                name: 'finish-checkbox',
                value: item.finishProcess,
                items: finishes
            } %}

            {% include 'components/buttons/_delete_button.html.twig' %}
        </tr>
    {% endfor %}
{% endblock %}
