{% set entityClass = 'App\\Entity\\Base\\SlicerProfil' %}

{% extends 'components/_table_wrapper.html.twig' %}

{% block title %}Liste des profils Slicer{% endblock %}

{% block page_header %}
    <h1 class="h4 mb-0">Liste des profils Slicer</h1>
{% endblock %}

{% block table_head %}
    <tr>
        <th class="col-4">Nom</th>
        <th class="col-4">Fichier</th>
        <th class="col-2 text-center">Actif</th>
        <th class="col-2 text-center">Actions</th>
    </tr>
{% endblock %}

{% block table_add_form %}
    <tr class="bg-light border rounded shadow-sm align-middle">
        {% include 'components/_form_add_entity.html.twig' with {
            route: 'app_base_generic_create',
            route_parameters: { type: 'slicer_profil' },
            form_class: 'mt-2',
            fields: [
                { name: 'name', type: 'text', placeholder: 'Nom du profil', required: true },
                { name: 'fileLink', type: 'file' },
                { name: 'isActive', type: 'checkbox', value: false },
            ]
        } %}
    </tr>
{% endblock %}
{% block table_rows %}
    {% for item in profils %}
        <tr data-id="{{ item.id }}">
            {% include 'components/editable/_text_cell.html.twig' with {
                entityId: item.id,
                entityType: 'slicer_profil',
                field: 'name',
                value: item.name
            } %}

            {% include 'components/editable/_file_cell.html.twig' with {
                entityId: item.id,
                entityType: 'slicer_profil',
                field: 'fileLink',
                value: item.fileLink,
                view_route: 'app_slicer_profil_view'
            } %}


            {% include 'components/editable/_checkbox_cell.html.twig' with {
                entityId: item.id,
                entityType: 'slicer_profil',
                field: 'isActive',
                value: item.isActive
            } %}

            {% include 'components/buttons/_delete_button.html.twig' %}
        </tr>
    {% endfor %}
{% endblock %}
