{% extends 'components/_table_wrapper.html.twig' %}

{% set entityType = 'model' %}
{% set maxTreatments = 0 %}

{# Calcul du nombre maximum de traitements #}
{% for item in items %}
    {% set itemCount = item.treatmentOperation|length %}
    {% if itemCount > maxTreatments %}
        {% set maxTreatments = itemCount %}
    {% endif %}
{% endfor %}

{% block title %}Traitement{% endblock %}

{% block page_header %}
    <h1 class="h4 mb-0">Traitement -
        <a href="{{ path('app_project_show', { id: project.id }) }}"
           class="text-decoration-underline">{{ project.title }}</a></h1>
{% endblock %}

{% block table_head %}
    <tr>
        <th class="col-2">Fichier</th>
        {% for i in 0..maxTreatments %}
            <th class="col-2">Traitement {{ i + 1 }}</th>
            <th class="text-center col-1">Terminé</th>
        {% endfor %}
        <th class="col-2">Nouveau</th>
    </tr>
{% endblock %}

{% block table_rows %}
    {% for item in items %}
        <tr data-id="{{ item.id }}">
            {% include 'components/_text_readonly.html.twig' with {
                value: item.fileName
            } %}

            {# Traitements existants triés par ordre de création #}
            {% set operations = item.treatmentOperation|sort((a, b) => a.id <=> b.id) %}

            {% for i in 0..maxTreatments %}
                {% set operation = operations[i] is defined ? operations[i] : null %}

                {% include 'components/editable/_dropdown_cell.html.twig' with {
                    entityId: item.id,
                    entityType: entityType,
                    field: 'treatmentProcess',
                    name: 'treatmentOperation-' ~ i,
                    value: operation ? {
                        id: operation.id,
                        name: operation.treatmentProcess.name,
                        treatmentProcessId: operation.treatmentProcess.id
                    } : null,
                    items: treatmentProcesses,
                    multiple: false,
                    placeholder: 'Aucun traitement',
                    disabled: operation is null and i > operations|length + 1
                } %}

                {% include 'components/editable/_checkbox_cell.html.twig' with {
                    value: operation ? operation.isDone : false,
                    field: 'isDone',
                    entityId: operation ? operation.id : null,
                    entityType: 'treatmentOperation',
                    disabled: operation is null
                } %}
            {% endfor %}

            {# Colonne "Nouveau traitement" #}
            {% include 'components/editable/_dropdown_cell.html.twig' with {
                entityId: item.id,
                entityType: entityType,
                field: 'treatmentProcess',
                name: 'treatmentOperation-new',
                value: null,
                items: treatmentProcesses,
                multiple: false,
                placeholder: 'Ajouter un traitement'
            } %}
        </tr>
    {% endfor %}
{% endblock %}
