<td class="text-center">
    <button class="btn btn-sm btn-outline-danger"
            data-controller="delete"
            data-delete-id-value="{{ entityId }}"
            data-delete-type-value="{{ entityType }}"
            data-action="click->delete#delete"
            title="Supprimer">
        <i class="fa-solid fa-trash"></i>
    </button>
</td>
