<label class="btn btn-sm btn-outline-secondary" title="{{ title|default('Téléverser') }}">
    <i class="fa-solid fa-file-arrow-up"></i>
    <input type="file" class="d-none file-upload-trigger">
</label>
