{% set entityClass = 'App\\Entity\\Base\\SubContractor' %}

{% extends 'components/_table_wrapper.html.twig' %}

{% block title %}Liste des sous-traitants{% endblock %}

{% block page_header %}
    <h1 class="h4 mb-0">Liste des sous-traitants</h1>
{% endblock %}

{% block table_head %}
    <tr>
        <th class="col-6">Nom</th>
        <th class="col-2 text-center">Actif</th>
        <th class="col-2 text-center">Actions</th>
    </tr>{% endblock %}
{% block table_add_form %}
    <tr class="bg-light border rounded shadow-sm align-middle">
        {% include 'components/_form_add_entity.html.twig' with {
            route: 'app_base_generic_create',
            route_parameters: { type: 'sub_contractor' },
            form_class: 'mt-2',
            fields: [
                { name: 'name', type: 'text', placeholder: 'Nom du sous-traitant', required: true },
                { name: 'isActive', type: 'checkbox', value: false },
            ]
        } %}
    </tr>
{% endblock %}
{% block table_rows %}
    {% for subContractor in subContractors %}
        <tr data-id="{{ subContractor.id }}">
            {% include 'components/editable/_text_cell.html.twig' with {
                field: 'name',
                value: subContractor.name
            } %}

            {% include 'components/editable/_checkbox_cell.html.twig' with {
                field: 'isActive',
                value: subContractor.isActive
            } %}

            {% include 'components/buttons/_delete_button.html.twig' %}
        </tr>
    {% endfor %}
{% endblock %}
