{% set entityClass = 'App\\Entity\\Base\\Manager' %}

{% extends 'components/_table_wrapper.html.twig' %}

{% block title %}Liste des managers{% endblock %}

{% block page_header %}
    <h1 class="h4 mb-0">Liste des Responsables</h1>
{% endblock %}

{% block table_head %}
    <tr>
        <th class="col-6">Nom</th>
        <th class="col-2 text-center">Actif</th>
        <th class="col-2 text-center">Actions</th>
    </tr>
{% endblock %}
{% block table_add_form %}
    <tr id="new-item-row">
        {% include 'components/editable/_input_field.html.twig' with {
            id: 'new-name',
            placeholder: 'Nom'
        } %}

        {% include 'components/editable/_checkbox_field.html.twig' with {
            id: 'new-is-active'
        } %}

        {% include 'components/buttons/_add_button.html.twig' with {
            id: 'add-button'
        } %}
    </tr>
{% endblock %}
{% block table_rows %}
    {% for manager in managers %}
        <tr data-id="{{ manager.id }}">
            {% include 'components/editable/_text_cell.html.twig' with {
                field: 'name',
                value: manager.name
            } %}

            {% include 'components/editable/_checkbox_cell.html.twig' with {
                field: 'isActive',
                value: manager.isActive
            } %}

            {% include 'components/buttons/_delete_button.html.twig' %}
        </tr>
    {% endfor %}
{% endblock %}
