<td class="text-center editable" data-field="{{ field }}">
    <input type="checkbox"
           class="form-check-input"
           {% if value %}checked{% endif %}
           data-controller="editable"
           data-editable-id-value="{{ entityId }}"
           data-editable-type-value="{{ entityType }}"
           data-editable-field-value="{{ field }}"
           data-action="change->editable#update">
</td>
