<td class="text-center">
    <input type="radio"
           name="{{ groupName }}"
           class="form-check-input"
           data-controller="editable"
           data-editable-id-value="{{ entityId }}"
           data-editable-type-value="{{ entityType }}"
           data-editable-field-value="{{ field }}"
           data-action="change->editable#update"
           {% if value %}checked{% endif %}
        {% if not item.isActive %}disabled{% endif %}>
</td>
