{% extends 'components/_table_wrapper.html.twig' %}

{% set entityType = 'model' %}
{% set maxQualities = 0 %}

{# Calcul du nombre maximum de process qualité' #}
{% for item in items %}
    {% set itemCount = item.qualityOperation|length %}
    {% if itemCount > maxQualities %}
        {% set maxQualities = itemCount %}
    {% endif %}
{% endfor %}

{% block title %}Qualité{% endblock %}

{% block page_header %}
    <h1 class="h4 mb-0">Qualité des pièces</h1>
{% endblock %}

{% block table_head %}
    <tr>
        <th class="col-2">Fichier</th>
        {% for i in 1..maxQualities %}
            <th class="col-2">Qualité {{ i }}</th>
            <th class="text-center col-1">Terminé</th>
        {% endfor %}
        <th class="col-2">Nouveau</th>
    </tr>
{% endblock %}

{% block table_rows %}
    {% for item in items %}
        <tr data-id="{{ item.id }}">
            {% include 'components/_text_readonly.html.twig' with {
                value: item.fileName
            } %}

            {# Assemblage existants triés par ordre de création #}
            {% set operations = item.qualityOperation|sort((a, b) => a.id <=> b.id) %}

            {% for i in 1..maxQualities %}
                {% set operation = operations[i - 1] is defined ? operations[i - 1] : null %}

                {% include 'components/editable/_dropdown_cell.html.twig' with {
                    entityId: item.id,
                    entityType: entityType,
                    field: 'qualityProcess',
                    name: 'qualityOperation-' ~ i,
                    value: operation ? {
                        id: operation.id,
                        name: operation.qualityProcess.name,
                        qualityProcessId: operation.qualityProcess.id
                    } : null,
                    items: qualityProcesses,
                    multiple: false,
                    placeholder: 'Aucun contrôle',
                    disabled: operation is null and i > operations|length + 1
                } %}

                {% include 'components/editable/_checkbox_cell.html.twig' with {
                    value: operation ? operation.isDone : false,
                    field: 'isDone',
                    entityId: operation ? operation.id : null,
                    entityType: 'qualityOperation',
                    disabled: operation is null
                } %}
            {% endfor %}

            {# Colonne "Nouveau contrôle" #}
            {% include 'components/editable/_dropdown_cell.html.twig' with {
                entityId: item.id,
                entityType: entityType,
                field: 'qualityProcess',
                name: 'qualityOperation-new',
                value: null,
                items: qualityProcesses,
                multiple: false,
                placeholder: 'Ajouter un contrôle'
            } %}
            <td></td>
        </tr>
    {% endfor %}
{% endblock %}
